<!-- 
* A l'attention de David R. : NON je n'ai pas découpé en fichier css ou js, pas la peine de faire la réflexion!
-->

<style>
    #id_radio:checked~.title_box {
        display: none;
    }

    #title_radio:checked~.id_box {
        display: none;
    }
</style>

<span class="title_box">Rechercher par titre: </span><input type="text" id="title_box" class="title_box">

<div class="list" id="articles_block">
    {% include "detail_article.html" %}
</div>

<script type="text/javascript">
    
    const title_box = document.getElementById('title_box')
    const block_list = document.getElementById('articles_block')

    const inputHandler = function (e) {
        
        value = document.getElementById("title_box").value;
        
        request = new Request(
            '/search_article/' + value
        );

        fetch(request)
            .then(res => {
                if (res.ok) {
                    return res.text();
                } else {
                    return Promise.reject(res.status);
                }
            })
            .then(res => block_list.innerHTML = res)
            .catch(err => console.log(`Erreur avec le message : ${err}`));
    }

    Array.prototype.forEach.call(title_box, function (t) { t.addEventListener('input', inputHandler) });

</script>